<div class="container">
    <h2 class="text-center">Sample Table</h2> 
    <button class="load-btn btn btn-primary btn-sm pull-right"
    (click)="getData()">
        Load Data
    </button>
    <div *ngIf="sampleTableData" class="table-responsive">         
        <table class="table">
            <thead>
                <tr>
                    <th>id</th>
                    <th>name</th>
                    <th>url</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let site of sampleTableData?.sites">
                    <td>{{site.id}}</td>
                    <td>{{site.name}}</td>
                    <td>{{site.url}}</td>
                </tr>
            </tbody>
        </table>
    </div> 
</div>
